.main {
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.ask {
  font-size: 30px;
}

.asked {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.input,
.field {
  border: 0;
}

.field {
  justify-content: center;
  min-width: 30%;
  height: 50px;
  border-radius: 30px;
  padding: 0 20px;
  background-color: rgb(0, 0, 0, 0.3);
}

.field::placeholder {
  color: white;
}

.fields {
  margin: 10px;
}

.infos {
  display: inline;
  justify-content: space-around;
}

*, div > p, p > a, div > a {
  color: white;
}

.forgot {
  text-decoration: none;
  color: white;
}

.forgot:hover {
  color: black;
}

.checkbox {
  margin: 0 10px;
}

input[type="checkbox"] {
  background-color: black;
  color: black;
}

.sign-in {
  background-color: transparent;
}

.sign-in:hover {
  background-color: lightgray;
}

.sign-up {
  color: white;
  margin: 0 10px;
}

.sign-up:hover {
  color: rgb(0, 0, 0, 1);
}

.or-options {
  margin: 20px;
}

.options {
  justify-content: center;
}

.figs {
  width: 2%;
  padding: 0;
  margin: 0 1;
  border-radius: 30px;
}

.figs:hover {
  transform: scale(1.2);
}
